/* ESTILOS GERAIS */
* {
    color: #25282e;
}

body {
    background: url('../img/parede.png')  repeat;
    background-size: contain;
    
}

a, i {
    transition: .5s;
    text-decoration: none;
}

.secondary-color {
    color: #555;
}

.primary-color {
    color: #ffffff;
}

.center-image {
    background-size: cover;
    background-position: center;
}

.btn {
    text-decoration: none;
    background-color: #25282e;
    color: #FFF;
    padding: 7px 18px;
    border-radius: 0;
}

.btn:hover {
    background-color: #333;
    color: #FFF;
}

/* HEADER */
#header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #ffffff;
}

#header p {
    margin-bottom: 0;
    text-align: center;
    text-justify: auto;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    width: 40px;
    margin-right: 15px;
}

/* NAVBAR */
#navbar {
    padding: 10px;
    margin: 10px auto;
}

#navbar a {
    width: 80px;
    color: #ffffff;
    text-shadow: 5px 5px 5px black;
}

#navbar a:hover{
    color: #c1b696;
}

#navbar a.active {
    color: #c1b696;
    font-weight: bolder;
  }

/* MAIN IMAGE */
#main {
    background-color: #ccccccb9;
    margin-bottom: ;
    padding: 30px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.main-gemeos, .main-nina, .main-edu {
    height: 400px;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}
.main-gemeos {
    background-image: url('../img/os\ gemeos.webp');
    background-size: cover;
}

.main-edu {
    background-image: url('../img/Eduardo\ kobra.jpeg');
    background-size: auto;
}

.main-nina {
    background-image: url('../img/Nina_Pandolfo.jpg');
    background-size: auto;
}

.main-image-info {
    background-color: #FFF;
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    border-radius: 5px;
}

/* GALLERY */
#img-2 {
    background-image: url('../img/Flip.webp');
    border-radius: 10px;
}

#img-3 {
    background-image: url('../img/Einstein.jpg');
    border-radius: 10px;
}

#img-4 {
    background-image: url('../img/Os\ gemeos.jpg');
    border-radius: 10px;
}

#img-5 {
    background-image: url('../img/cambuci.jpg');
    border-radius: 10px;
}

#img-6 {
    background-image: url('../img/Beco-do-Batman.jpg');
    border-radius: 10px;
}

.btn-custom {
    border-radius: 5px;
}

#gallery-container h1 {
    text-align: center;
}

#gallery-container h1, #gallery-container .col-md-6,
#gallery-container .col-xs-12 {
    margin-bottom: 50px;
}


#gallery-container .col-md-6,
#gallery-container .col-xs-12 {
    width: 49%;
    margin:0 5px 50px 5px;
    padding: 20px 20px;
    background-color: #ccccccb9;
    border-radius: 20px;
}

.small-image-container {
    height: 250px;
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    border-top: 2px solid #ffffff;
    height: 250px;
}

footer i {
    font-size: 20px;
}

#social-icons-container {
    padding: 25px;
}

#social-icons-container div {
    text-align: center;
}

footer p {
    text-align: center;
    margin: 20px;
}

a:hover i {
    color: #c1b696;
}

.sombra {
    text-shadow: 5px 5px 5px black;
}
.antes, .depois {
    top: 250px;
    color: #25282e;
}

@media screen and (max-width: 430px) {
    #gallery-container .col-md-6,
    #gallery-container .col-xs-12 {
        width: 98%;
        margin: 0px 3px 30px;
    }
}

@media (min-width: 430px) and (max-width: 770px) {
    #gallery-container .col-md-6,
    #gallery-container .col-xs-12 {
        width: 49%;
        margin: 0px 2px 30px;
    }
}

@media (min-width: 770px) and (max-width: 1025px) {
    #gallery-container .col-md-6,
    #gallery-container .col-xs-12 {
        width: 49%;
        margin: 0px 2px 30px;
    }
}